/*Form login*/
body{
    background-color: #ffffff00;
    background: #eeeeee;
    font-family: "Tahoma" !important;
}
.o_database_list .o_login{
        padding: 40px 45px !important;
    border: 0px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    margin: 60px 90px 90px 90px !important;
    background:#FFF;
}

.o_login .panel-heading {
    background: #fff;
    padding: 0;
    margin-top: -40px;
    margin-bottom: 20px;
    background: #fff;
}

.o_login .panel-title .Head {
        font-weight: normal;
    color: #fff !important;
    padding-left: 0px;
    text-transform: uppercase;
    margin-bottom: 3px;
    margin-top: 7px;
    font-size: 14px;
    margin-left: 5px;
    float: right;
}

.o_database_list .o_login .panel-title {
    box-shadow: 0 10px 30px -12px rgba(0, 69, 105, 0.42), 0 4px 25px 0px rgba(0, 69, 105, 0.12), 0 8px 10px -5px rgba(0, 69, 105, 0.2);
        margin: -15px -30px 0;
    border-radius: 3px;
    padding: 15px 20px;
        background-color: #006f3c;
    position: relative;
    display: inline-block;
    top: -7px;
}
.o_login .fa-home{
        font-size: 25px;
    padding-right: 10px;
    color:#FFF;
}

.o_login .form-control, .o_login .btn-primary, .o_login .btn-default{
    border-radius:0px;
}
.center{
    text-align: center;
 }
.o_login .btn-primary{
        background-color: #006f3c;
    border-color: #006738;
        box-shadow: 2px 2px 8px #989898;
}
.o_login .btn-default{
        background: #ffffff;
    box-shadow: 2px 2px 8px #c7c7c7;
 }

.logo h2 {
        font-size: 23px;
    color: #006f3c;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(218, 218, 218, 0.78);
}
 .logo h4 {
        padding-top: 5px;
    color: #f53b00;
    font-weight: bold;
        text-shadow: 2px 2px 4px rgba(202, 202, 202, 0.78);
    font-size: 17px;
}
body .logo {
    padding-top: 10px !important;
    top: 0px;
    text-align: center;
    width: 100%;
    left: 0px;
    right: 0px;
}